.menu-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.menu-link:hover {
    color: #996445;
}

.menu-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #996445;
    transition: width .3s;
    margin-top: 5px;
}

.menu-link:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}
